.vibrate-1 {
  -webkit-animation: vibrate-1 0.6s linear infinite both;
  animation: vibrate-1 0.6s linear infinite both; }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

/* interacciones tarjetas */
.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

/* interacciones botones wsp y insta */
.contacto__btn:hover {
  color: orangered; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5px;
  background: #fd2dfa;
  background: linear-gradient(0deg, rgba(253, 45, 250, 0.321412) 82%, #c32288 97%); }

.header__titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #790179;
  font-size: 45px; }

.header__img {
  width: 13rem;
  height: 13rem; }

.header__slogan {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 23px;
  margin: 0px;
  border: solid;
  border-radius: 15px;
  border-color: rgba(221, 1, 118, 0.023);
  background-color: rgba(221, 1, 118, 0.23); }

.header__btn {
  color: black;
  text-decoration: none;
  font-size: 20px; }

.header__ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin: 0rem;
  list-style-type: none; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  background: #fd2dfa;
  background: linear-gradient(0deg, rgba(253, 45, 250, 0.321412) 82%, #c32288 97%); }

.footer__insta {
  width: 3rem; }

.footer__face {
  width: 3rem; }

.footer__wsp {
  width: 3rem; }

.mapa {
  display: flex;
  justify-content: space-evenly; }

.mapa__titulo {
  color: #790179;
  font-weight: bolder;
  height: 3rem;
  border: solid;
  border-radius: 15px;
  border-color: rgba(221, 1, 118, 0.023);
  background-color: rgba(221, 1, 118, 0.23); }

hr {
  margin: 5rem;
  color: deeppink; }

.img {
  height: 40rem; }

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin: 8rem;
  text-align: center; }

.tarjetas__a {
  background-color: rgba(255, 128, 191, 0.388); }

.tarjetas__ul {
  text-align: start; }

.tarjetas__titulo {
  font-family: cursive;
  font-weight: bold;
  color: rgba(255, 68, 0, 0.557); }

.tarjetas__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin: 3rem; }

.contacto {
  display: flex;
  justify-content: center;
  gap: 10rem; }

.contacto__btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #790179;
  font-size: 25px;
  text-decoration: none;
  border: solid;
  border-radius: 15px;
  border-color: rgba(221, 1, 118, 0.023);
  background-color: rgba(221, 1, 118, 0.23); }

@media (max-width: 1024px) {
  .img {
    height: 31rem; } }

@media (max-width: 768px) {
  .img {
    height: 20rem; } }

@media (max-width: 468px) {
  .img {
    height: 14rem; } }

@media (max-width: 456px) {
  .img {
    height: 13rem; } }

@media (max-width: 1024px) {
  .tarjetas {
    grid-template-columns: 16rem 16rem 16rem;
    gap: 5 rem;
    justify-content: center; }
  .tarjetas__img {
    width: 13rem;
    height: 13rem;
    margin: 1rem; } }

@media (max-width: 768px) {
  .tarjetas {
    grid-template-columns: 13rem 13rem 13rem;
    gap: 3rem; }
  .tarjetas__img {
    width: 12rem;
    height: 12rem;
    margin: 8px; }
  .tarjetas__titulo {
    font-size: 20px; }
  .contacto__btn {
    font-size: 19px; } }

@media (max-width: 468px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
    margin: 4rem; }
  .contacto {
    gap: 4rem;
    flex-direction: column-reverse;
    width: 20rem;
    margin-left: 5rem; }
  .contacto__btn {
    font-size: 19px; } }

@media (max-width: 456px) {
  .tarjetas {
    margin: 45px;
    gap: 5rem; }
  .contacto {
    width: 19rem;
    margin-left: 7px; }
  .contacto {
    margin-left: 70px; } }

@media (max-width: 1222px) {
  .header__titulo {
    font-size: 39px; }
  .header__slogan {
    font-size: 20px; } }

@media (max-width: 1118px) {
  .header__titulo {
    font-size: 30px; }
  .header__slogan {
    font-size: 20px; } }

@media (max-width: 1024px) {
  .header__titulo {
    font-size: 28px; } }

@media (max-width: 768px) {
  .header {
    flex-direction: column; }
  .header__ul {
    gap: 30rem;
    list-style-type: disc; } }

@media (max-width: 468px) {
  .header__ul {
    gap: 16rem; }
  .header__titulo {
    margin: 9px; }
  .header__slogan {
    margin: 10px; } }

@media (max-width: 456px) {
  .header__ul {
    gap: 7rem;
    margin: 4px; }
  .header__titulo {
    margin: 9px; }
  .header__slogan {
    margin: 10px; } }
