@media (max-width: 768px){
     .mapa{
        flex-direction: column;
        text-align: center;
     }
     .mapa__titulo{
        width: 15rem;
        margin: auto;    
     }
}

@media (max-width: 468px){
   .mapa__titulo{
      width: 13rem;
      margin: auto;
      height: 37px;
   }
   
}

@media (max-width: 375px){
   .contacto{
      width: 15rem;
      margin: auto;
   }
   .contacto__btn{
      font-size: 15px;
   }
}



@media (max-width: 320px){
   .mapa__titulo{
      margin: auto;
      width: 10rem;
      height: 29px;
      font-size: 17px;
   }
}