@media (max-width: 768px){
     .mapa{
        flex-direction: column;
        text-align: center;
     }
     .mapa__titulo{
        width: 15rem;
        margin-left: 16rem;    
     }
}

@media (max-width: 468px){
   .mapa__titulo{
      width: 13rem;
      margin-left: 8rem;
      height: 37px;
   }
   
}

@media (max-width: 320px){
   .mapa__titulo{
      margin-left: 5rem;
      width: 10rem;
      height: 29px;
      font-size: 17px;
   }
}